
body, #root, .maincontainer, .maincontainer > div:first-Child, .app, .homepage-segment, .homepage-container, .homepage-grid, .main-dashboard-section, .left-menu, .authpage-segment, .authpage-container, .authpage-grid{
  height: 100%;
  padding-bottom: 0 !important;
}
.App {
  text-align: center;  
}

.App-logo { 
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homepage-segment{  
  background: #f6f6f6 !important;
  .main-dashboard-section{    
    .sidebar{
      // background-color: #4682b4;
      .logo{
        padding-bottom: 1rem;
      }
      .logo, .avatar{
        // width: 35px;
        height: auto;
        margin: 0 auto;
      }
      .avatar{
        float: left;
        margin: 0 10px;
      }
      .user-name {
        padding: 10px;
        color: #fff;
      }      
      .left-menu{      
        background: #2F3D57;        
        padding: 1rem 0;
        .ui.vertical.menu {
          margin-left: 0;
          .item{
            color: #fff;   
            i.icon {
              width: 1.18em;
              float: left;
              margin: 0 .5em 0 0;
            } 
          }
        }
        
        .ui.vertical.menu .active.item {
          background: #5D9DF4;   
          border-radius: 0 2em 2em 0 !important;   
        }

        .user-setting{
          padding:0 10px ;
          .ui.dropdown>.dropdown.icon{
            line-height: 2;
          }
          .ui.dropdown .menu{
            right: 0;
            margin: 20px 0;            
          }            
        }       
        
      }  
    }
    .main-section-container{
      padding-left : 0px;
      .dark-btn{
        border-radius: 2rem;
        background: #2F3D57;
        color: #fff;
      }   
      .blue-btn{
        border-radius: 2rem;
        background: #5699F4;
        color: #fff;
      }  
      .screen-head{
        .page-title {
          padding-bottom: 10px;
        }
        .action-box{
          .add-btn{
            
          }
        }
      }
      .dataTable{
        padding: 10px;
        background: #fff;
        .ui.table{
          .pageSize .ui.compact.selection.dropdown {
            border-radius: 20px;
          } 
          img.ui.middle.aligned.image.sort {
            margin-left: 10px;
          }
        }
         :after, :before, th {        
          border: none !important;
        }
        .ui.pagination.secondary.menu a.active.item {
          border-radius: 20px;
          background-color: #363A51;
          color: #fff;
          padding: 10px;
          min-width: 2.5em;
          display: inline;
          outline: none ;
        } 
        img.editIcon, img.deleteIcon, img.saveIcon{
          width: 14px;
        }
        .ui.input.inlineInput>input{
          padding : 3px;
        }
        // .ui.pagination.secondary.menu a:hover.item{
        //   border-radius: 20px;
        //   padding: 10px;
        //   min-width: 2.5em;
        //   display: inline;
        // }
        // :link:focus, :visited:focus { 
        //  outline: none; 
        // }
      }
      
    }
    
  }
}
.searchInputField input {
  border-radius: 50px !important;
}
.searchButton .ui.button {
  border-radius: 50px;
  color: #fff;
  background: #2F3D57;
}
.main-section-container{
  padding : 1rem;
}
.p-0{
  padding:0!important;
}
.pl-0{
  padding-left: 0!important;
}
.pr-0{
  padding-right: 0!important;
}
.pt-0{
  padding-top: 0!important;
}
.pb-0{
  padding-bottom: 0!important;
}
.pl-1{
  padding-left: 1rem!important;
}
.right{
  float: right;
}
.left{
  float: left;
}
.textRight{
  text-align: right !important;
}
.textLeft{
  text-align: left !important;
}
.auth-layout {
  background: #5D9DF4;
   .auth-box{
     background-color: #fff;
     .login-header{
      color: #444444;
     }     
   }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 992px) 
// and (orientation : landscape) 
{ 
  .ui.vertical.menu {
    width: auto !important;
    margin-right: 0 !important;
    .item{
      padding: 0.4em !important;
    }
  } 
}
